* {
    box-sizing: border-box;
}
body {
    background-color: #e3f2fd;
}
#header {
    background-color: #002954;
}
#account {
    border-radius: 20px;
}
#navBar {
    background-color: #1d428a;
}
#navbarSupportedContent ul li a {
    font-size: 18px;
    font-weight: bold;
}
#navbarSupportedContent ul li a:hover {
    border-bottom: 4px solid #0f6db4;
}
#aroundLeague, #nbaStuff {
    border-bottom: 4px solid #1d428a;
}
#buyNow {
    background-color: #ec1c23;
    font-size: 24px;
    font-weight: bold;
}
#buyNow:hover {
    opacity: 0.95;
}
#nba2kLogo:hover {
    opacity: 0.95;
}
#nba2kText {
    font-size: 24px;
    font-weight: bold;
}
#card:hover {
    opacity: 0.98;
}
#eastConf,#westConf {
    background-color: #0f6db4;
    color: #fff;
    font-size: 16px;
    padding: 0.5rem;
}
#standingsGlossary {
    color: #7a7a7a;
    font-size: .75em;
}
#homeBreadcrumb:hover {
    border-bottom: 1px solid #212529;
}
#hoverCard:hover {
    box-shadow: 5px 5px 10px grey;
}