* {
    box-sizing: border-box;
}
body {
    background-color: #e3f2fd;
}
#header {
    background-color: #1d428a;
}
#account {
    border-radius: 20px;
}
#navbarSupportedContent ul li a {
    font-size: 18px;
    font-weight: bold;
}
#navbarSupportedContent ul li a:hover {
    border-bottom: 4px solid #0f6db4;
}
#aroundLeague, #nbaStuff {
    border-bottom: 4px solid #1d428a;
}
#buyNow {
    background-color: #ec1c23;
    font-size: 24px;
    font-weight: bold;
}
#buyNow:hover {
    opacity: 0.95;
}
#nba2kLogo:hover {
    opacity: 0.95;
}
#nba2kText {
    font-size: 24px;
    font-weight: bold;
}
#card:hover {
    opacity: 0.98;
}
#eastConf,#westConf {
    background-color: #0f6db4;
    color: #fff;
    font-size: 16px;
    padding: 0.5rem;
}
#standingsGlossary {
    color: #7a7a7a;
    font-size: .75em;
}
/* .header a img {
    cursor: pointer;
}
.header a {
    color: white;
    text-decoration: none;
}
.header #account {
    background-color: #16ab4b;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    padding: 10px;
} */