* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
#header {
    background-color: #1d428a;
}
#account {
    border-radius: 20px;
}
#navbarSupportedContent ul li a:hover {
    border-bottom: 4px solid #0f6db4;
}
#buyNow {
    border-radius: 0;
    font-size: 24px;
    font-weight: bolder;
}
/* .header a img {
    cursor: pointer;
}
.header a {
    color: white;
    text-decoration: none;
}
.header #account {
    background-color: #16ab4b;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    padding: 10px;
} */